@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
    $k: calc(($f-max - $f-min)/($v-max - $v-min));
    $b: $f-min - $k * $v-min;
    $b: $b * 1px;
  
    @return calc( #{$k} * 100vw + #{$b} );
  }

  @function rem($px){
    @return calc($px / 16) * 1rem;
  };


  @function lighter($color, $tone) {
    $adjust: 16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
  }

  @function darker($color, $tone) {
    $adjust: -16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
  }